#Project{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(52, 61, 104, 1);
    font-size: 20px;
    font-weight: 600;
 }
 #pr{
    color: #fff;
    margin-top: 20px;
 }
 #pr img{
    width: 24px;
    height: 19.94px;
    margin-right: 10px;
}
 #containP{
    width:86%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 54px 0 54px 0;
 }
 #projectImg{
   height: 100%;
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid hsla(216, 88%, 40%, 1);
 }

 .imgP{
    width: 100%;
    height: 100%;
    margin-bottom: -5px;
 }
 .imgP img{
    width: 100%;
    height: fit-content;
 }
 .txt{
    background-color: rgba(38, 44, 77, 1);
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .txt p{
    margin-top: 7%;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.698);
    font-weight: 400;
    width: 90%;
 }
 .txt a{
    margin-top: 7%;
    margin-bottom: 4%;
    padding: 10px 15px 10px 15px;
    border: 2px solid rgba(255, 255, 255, 0.698);
    text-decoration: none;
    color: rgba(255, 255, 255, 0.774);
    font-size: 14px;
    font-weight: 400;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius:5px;
 }
 .txt a img{
    margin-left: 5px;
 }
 .txt a:hover{
   background: rgba(0, 0, 0, 0.435);
   color: rgba(255, 255, 255, 0.894);
 }
 @media screen and (max-width:1187px) {
    #Project{
        font-size: 17px;
     }
     #pr img{
        width: 20px;
        height: 16.94px;
        margin-right: 8px;
    }
     .txt p{
        font-size: 13px;
     }
     .txt a{
        padding: 7px 12px 7px 12px;
        font-size: 12px;
     }
     .txt a img{
        width: 15px;
        margin-left: 5px;
     }
 }
 @media screen and (max-width:910px) {
    #Project{
        font-size: 15px;
     }
     #pr img{
        width: 18px;
        height: 14.94px;
        margin-right: 10px;
    }
     .txt p{
        font-size: 12px;
     }
     .txt a{
        padding: 5px 10px 5px 10px;
        font-size: 6px;
     }
     .txt a img{
        width: 13px;
        margin-left: 4px;
     }
 }
 @media screen and (max-width:768px) {
    #Project{
        font-size: 13px;
     }
     #pr img{
        width: 16px;
        height: 12.94px;
        margin-right: 4px;
    }
     .txt p{
        font-size: 10px;
     }
     .txt a{
        padding: 4px 9px 4px 9px;
        font-size: 8px;
     }
     .txt a img{
        width: 12px;
        margin-left: 3px;
     }
 }