*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam";
}
body{
  width: 100%;
}
html{
  scroll-behavior: smooth;
}
#root{
  width: 100%;
  display: flex;
  flex-direction: row;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}